.swiper-title{
    position: absolute;
    top: 60%;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center; 
}

.swiper-slide > img{
    max-height: 200px;
}

.listfilm_content > h3{
    text-align: left;
    margin: auto;
    width: 95%;
}