.card{
    background-color: black !important;
    /* width: 18rem;*/
    display: inline;
    float: left;
    max-height: 680px !important;
    margin: 2px;    
}

.card-img-top{
    max-width: 250px;
    max-height: 150px;
    object-fit: cover;
    /* background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;     */
}

.card-header{
    position: absolute;
    top: 60%;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase; 
}