.section_content{
    position: relative;
}
.main_film{
    position: absolute;
    /* margin: -281px; */
    top: 150px;
    left: 150px;    
}

.mainFilm_content > img{
    max-height: 500px;
    object-fit: cover;
    opacity: 55%;
}